.home-welcome {
    justify-content: center;
    padding-bottom: 20px;
    align-items: center;
    text-align: center;
    display: flex;
}

.home-steps {
    margin: auto;
}

.box-steps {
    vertical-align: middle;
    margin-right: 20px;
    padding-bottom: 10px;
    width: auto;
}

.img-drawing {
    vertical-align: middle;
    align-content: center;
    width: 300px;
}

.h2 {
    margin: 20px;
}

@media screen and (max-width: 570px) {
    .box-steps {
        vertical-align: middle;
        margin: 20px;
        padding-bottom: 10px;
        width: auto;
    }

    .home-steps {
        justify-content: center;
        padding-bottom: 20px;
        align-items: center;
        text-align: center;
        display: flex;
    }

}