* {
  font-weight: 400;
}

body {
  position: relative;
  min-height: 100vh;
}

.Logo {
  width: 80px;
}

.btn {
  padding: 5px 20px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #FA634D;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  /* font-size: 15px;*/
  /* transition: all 0.2s ease; */
}

.btn:hover {
  /* letter-spacing: 2px; */
  background-color: #741b0d;
  color: white;
  border: 2px solid #741b0d;
  /* box-shadow: #FF6347 0px 7px 29px 0px; */
}

/* .btn:active {
  letter-spacing: 2px;
  background-color: white;
  color: white;
  box-shadow: #FA634D ;
  transform: translateY(5px);
} */

.input {
  padding-top: 3px;
}

.alert-bg {
  padding: 20px;
  background-color: #F7F7F7;
  border-color: #ededed;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
}

.navbar {
  background-color: #F7F7F7;
}

.sidebar-space {
  background-color: #c4c4c4;

}

.footer {
  background-color: #F7F7F7;
  padding: 10px 30px 0px 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-logo {
  width: 50px;
}

.img-drawing {
  width: 300px;
}