* {
  font-weight: 400;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: "Truculenta", sans-serif;
}

.truculenta-fontGift {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: none;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.Logo {
  width: 80px;
}

.fa-solid {
  color: #FA634D;
}


.fa-shuffle {
  color: white;
}

.btn {
  padding: 5px 20px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #FA634D;
  color: white;
  font-weight: 500;
  text-transform: uppercase;

}

.btn:hover {
  background-color: #de4a34;
  color: white;
  border: 2px solid #de4a34;
  font-weight: 500;
  .fa-solid{
    color: white;
  } 
}

.alert-bg {
  padding: 20px;
  background-color: #F7F7F7;
  border-color: #ededed;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
}

.sidebar-space {
  background-color: #c4c4c4;
}

.footer {
  background-color: #F7F7F7;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-logo {
  width: 40px;
}

.footer-text {
  margin: auto;
  width: 50%;
}