.list-group-item .custom-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.rowCardGift {

    max-height: calc(100vh - 270px);
    overflow-y: scroll;
}

.rowCardGift::-webkit-scrollbar {
    width: 0;
}

#fa-close {
    color: black !important;
    cursor: pointer;
}

.loadingMessage {
    font-size: 40px;
    font-weight: 500;
}

.loadingMessage i {
    font-size: 50px;
}